aiosqlite
aiohttp
git+https://github.com/clari7744/DPyUtils
git+https://github.com/clari7744/jishaku
git+https://github.com/PortalDiscordDevelopment/PortalUtils
git+https://github.com/clari7744/discord.py
python-dotenv
python-i18n
